In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("epa_hap_daily_summary.csv")

In [8]:
df_12 = df.loc[df["parameter_name"] == "12-Dichloropropane", ["latitude", "longitude", 
                                                              "state_code", "county_code",
                                                              "first_max_value"]]

In [17]:
df_12.head()

      latitude   longitude  state_code  county_code  first_max_value
41   40.580270  -74.198320          36           85             0.00
48   32.910556  -96.669167          48          113             0.02
79   26.309858  -98.183101          48          215             0.02
117  45.561370 -122.667900          41           51             0.00
126  40.049616  -75.240822          42          101             0.00

In [10]:
df_cl = df.loc[df["parameter_name"] == "Chloroform", ["latitude", "longitude", 
                                                       "state_code", "county_code",
                                                       "first_max_value"]]

In [11]:
df_cl.head()

      latitude   longitude  state_code  county_code  first_max_value
18   44.847370  -92.995400          27          163          0.01000
103  29.385234  -94.931520          48          167          0.01000
105  43.608056  -72.982778          50           21          0.02047
205  26.226210  -98.291069          48          215          0.01000
220  31.775942 -106.413177          48          141          0.01000

In [14]:
df_12.to_csv("12-Dichloropropane.csv", sep=',')

In [15]:
df_cl.to_csv("Chloroform.csv", sep = ",")

In [4]:
df.columns

Index(['state_code', 'county_code', 'site_num', 'parameter_code', 'poc',
       'latitude', 'longitude', 'datum', 'parameter_name', 'sample_duration',
       'pollutant_standard', 'date_local', 'units_of_measure', 'event_type',
       'observation_count', 'observation_percent', 'arithmetic_mean',
       'first_max_value', 'first_max_hour', 'aqi', 'method_code',
       'method_name', 'local_site_name', 'address', 'state_name',
       'county_name', 'city_name', 'cbsa_name', 'date_of_last_change'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8097069 entries, 0 to 8097068
Data columns (total 29 columns):
state_code             int64
county_code            int64
site_num               int64
parameter_code         int64
poc                    int64
latitude               float64
longitude              float64
datum                  object
parameter_name         object
sample_duration        object
pollutant_standard     float64
date_local             object
units_of_measure       object
event_type             object
observation_count      int64
observation_percent    float64
arithmetic_mean        float64
first_max_value        float64
first_max_hour         int64
aqi                    float64
method_code            int64
method_name            object
local_site_name        object
address                object
state_name             object
county_name            object
city_name              object
cbsa_name              object
date_of_last_change    object
dtypes: float64(7), int64(8), object(14)
memory usage: 1.7+ GB